acme4j
======

A Java client for the _Automatic Certificate Management Environment_ (ACME) protocol.

ACME is a protocol that a certificate authority (CA) and an applicant can use to automate the process of verification and certificate issuance.

This Java client helps connecting to an ACME server, and performing all necessary steps to manage certificates.

It is an independent open source implementation that is not affiliated with or endorsed by _Let's Encrypt_.

The source code can be found at [GitHub](https://github.com/shred/acme4j) and is distributed under the terms of [Apache License 2.0](http://www.apache.org/licenses/LICENSE-2.0).

ACME v1
-------

This _acme4j_ branch implements the deprecated _ACME v1_ protocol. _Let's Encrypt_ has announced an [End of Life Plan for ACME v1](https://community.letsencrypt.org/t/end-of-life-plan-for-acmev1/88430). According to this plan, access to the ACME v1 servers will be limited starting November 2019, and completely stopped in June 2021.

**For this reason, development of _acme4j_ v1 has been terminated since November 1st, 2019. Please [migrate](https://shredzone.org/maven/acme4j/migration.html) your code to _acme4j_ v2.5 or higher!**

There will be no more updates or security fixes for acme4j v1. Bug reports related to acme4j v1 will be closed without comment.

Quick Start
-----------

_acme4j_ is available at Maven Central. Just add this snippet to your `pom.xml`:

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}-client</artifactId>
  <version>${project.version}</version>
</dependency>
```

There is also an optional utility module that will help you handling key pairs and certificates (but requires [Bouncy Castle](https://www.bouncycastle.org/java.html)):

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}-utils</artifactId>
  <version>${project.version}</version>
</dependency>
```

Now just have a look at [this source code](https://github.com/shred/acme4j/blob/master/acme4j-example/src/main/java/org/shredzone/acme4j/ClientTest.java) to see an example usage.
