acme4j Integration Tests
========================

This module contains an Integration Test of _acme4j_.

It builds a [Pebble](https://github.com/letsencrypt/pebble) docker image and runs it. After that, a number of integration tests are performed.

See the [Documentation](../development/testing.html) for how to run it

GitLab CI
---------

_acme4j_ contains a GitLab CI configuration file.

The CI runner should be set up with a `shell` executor. Maven and Docker should be installed on the CI runner, and the shell executor user should be able to use both.

The tags `maven` and `docker` are used to select the executor.
